<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="PathDes" value="C:\Configuraciones\Repositorio\" />
    <add key="Puerto" value="11100"></add>
    <add key="PathBitacora" value="C:\Bitacora\" />
    <add key="ConfigDirectory" value="C:\Configuraciones\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="dbConfigEntities" connectionString="metadata=res://*/DataAccess.dbConfig.csdl|res://*/DataAccess.dbConfig.ssdl|res://*/DataAccess.dbConfig.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SM_IJUAREZ\MSSQLSERVER14;initial catalog=dbConfig;user id=sa;password=UserMaster12;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>